.table-container {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table-header {
    background-color: rgb(230, 230, 230);
    font-size: medium;
}