.l-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}

.l-body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1612222553455-3fe3f3c65841?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), #000;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.l-body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* Adjust the alpha value to control the shade */
    z-index: -1;
}

.l-wrapper {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.l-form {
    display: flex;
    flex-direction: column;
}

.l-h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.l-input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}

.l-input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.l-input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
}

.l-input-field input:focus~label,
.l-input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #fff;
}

#showPassword {
    accent-color: #fff;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label p {
    margin-left: 8px;
    cursor: pointer;
}

.l-wrapper p {
    color: #efefef;
    text-decoration: none;
    cursor: pointer;
}

.l-wrapper p:hover {
    text-decoration: underline;
}

.l-button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.l-button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.l-button-back {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 1px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    width: 160px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 30px;

}

.l-button-back:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}