.navbar {
  background: rgba(26, 35, 126, 0.8);
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 16px;

  .wrapper {
    color: white;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      margin-right: 20px;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;

      .icon {
        font-size: 20px;
        transition: color 0.3s ease;
      }

    }
  }
}